/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";




:host {
     // All

  // --btk-toolbar-btn: red;

  ion-card {
    --background: var(--btk-paper);
  }
  ion-item {
    --background: var(--btk-paper);
    // --color-activated: red;
    --background-hover: var(--btk-paper-tint);
  }
  ion-menu {
    ion-header {
      app-toolbar {
        ion-toolbar {
          --background: var(--btk-toolbar-background-superior) !important;
        }
      }
    }

    --background: var(--btk-paper);
    ion-content {
      --background: var(--btk-paper);
      ion-list {
        background: var(--btk-paper);
      }
    }
    ion-footer {
      ion-list {
        background: var(--btk-paper-shade);
      }
    }
  }

  app-option-selector {
    ion-list {
      background: var(--btk-paper);
    }
  }

  ion-list {
    background: var(--btk-paper);
  }

  .adaptive-toolbar {
    --background: var(--btk-toolbar-background);
  }

  .adaptive-text {
    color: var(--ion-color-step-850);
  }

  .btk-alert-button {
    span {
      color: var(--ion-color-step-750);
    }
  }

  .btk-alert-button-highlight {
    span {
      color: var(--btk-alert-button);
    }
  }

  .btk-alert-button-highlight {
    span {
      color: var(--ion-color-danger-shade);
    }
  }

  .btk-picker-btn {
    color: var(--ion-color-step-750);
  }

  .btk-picker-opt {
    color: red;
    background: indigo;
  }

  .btk-picker {
    .picker-opt-selected {
      color: var(--ion-color-step-950);
    }
  }

  ion-popover {
    margin: 0px;
  }

  ion-tab-button {
    // --background: red;
    // --background-focused: var(--ion-color-secondary);

    // --color-selected: var(--ion-color-secondary);
    // --color-hover: red;
    // --color-selected: blue;

    ion-button {
      --border-radius: 1rem;
      // --background: var(--ion-color-secondary);
      // --background-activated: transparent;

      ion-label {
        padding-left: 0.5rem;
        font-size: 110%;
      }

      // --background: indigo;
      // --color: blue;
    }
  }


  .active-tab-icon {
    color:  black !important;
  }

}
