
.bill {
    border-radius: 1rem;
    margin: 0px;
    // --background: var(--ion-color-secondary);
}

.add-more {
    width: 100%;
    text-align: center;
}

.order-card {
    display: grid;
    grid-template-columns: 5.0rem 1fr;
    grid-column-gap: 10px;
}
