<ion-header>
  <app-toolbar [toolbar]="toolbar"></app-toolbar>
</ion-header>

<ion-content>
  <app-frame-skinny>
    <div class="order-card" *ngIf="cart.bill">
      <ion-card color="danger" class="bill">
        <ion-item button (click)="clear()" color="danger" detail="false">
          <!-- <ion-icon name="trash"></ion-icon> -->
          <ion-label>Törlés</ion-label>
        </ion-item>
      </ion-card>
      <ion-card color="secondary" class="bill">
        <ion-item button (click)="onOrder()" color="secondary">
          <ion-label slot="start" >Rendelés</ion-label>
          <ion-card-title slot="end">{{cart.bill}},-</ion-card-title>

          <!-- <ion-button slot="end" fill="clear" color="light">
            Megrendelem
          </ion-button> -->
        </ion-item>
      </ion-card>



    </div>


    <ion-card *ngIf="!cart.bill" class="bill">
      <ion-card-header>
        <ion-card-title>Üres a kosarad</ion-card-title>
      </ion-card-header>
    </ion-card>
    <div class="add-more">
      <ion-button fill="clear" color="dark" (click)="goToMenu()">
        <ion-icon slot="start" name="add"></ion-icon>
        Étlap
      </ion-button>

    </div>
  </app-frame-skinny>

  <app-frame-standard>

    <app-menu-list [onlyInCart]="true"></app-menu-list>



  </app-frame-standard>

</ion-content>