<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <app-toolbar hasCart="false" [toolbar]="toolbar"></app-toolbar>
      </ion-header>
      <ion-content>

        <!-- Drawer schema -->
        <ion-list>
          <ion-menu-toggle [hidden]="!option.show" auto-hide="false" *ngFor="let option of topDrawerContent.buttons">
            <ion-item [color]="option.color" [lines]="option.line" (click)="option.button.action()"
              [routerDirection]="'root'" [routerLink]="option.button.route">
              <ion-icon slot="start" *ngIf="option.button.iconType==='src'" [color]="option.button.color"
                [size]="option.button.size" [src]="option.button.icon"></ion-icon>
              <ion-icon slot="start" *ngIf="option.button.iconType === 'name' || option.button.iconType === undefined"
                [color]="option.button.color" [size]="option.button.size" [name]="option.button.icon"></ion-icon>
              <ion-label [color]="option.button.color">
                {{ option.button.name }}
              </ion-label>
              <ion-badge *ngIf="option.isWiredToCart && cart.counter" color="danger" slot="end" mode="ios">{{cart.counter}}</ion-badge>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
      <ion-footer>
        <ion-header>

          <!-- Drawer schema -->
          <ion-list class="list-paper">
            <ion-menu-toggle [hidden]="!option.show" auto-hide="false"
              *ngFor="let option of bottomDrawerContent.buttons">
              <ion-item [color]="option.color" [lines]="option.line" (click)="option.button.action()"
                [routerDirection]="'root'" [routerLink]="option.button.route">
                <ion-icon slot="start" *ngIf="option.button.iconType==='src'" [color]="option.button.color"
                  [size]="option.button.size" [src]="option.button.icon"></ion-icon>
                <ion-icon slot="start" *ngIf="option.button.iconType === 'name' || option.button.iconType === undefined"
                  [color]="option.button.color" [size]="option.button.size" [name]="option.button.icon"></ion-icon>
                <ion-label [color]="option.button.color">
                  {{ option.button.name }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

        </ion-header>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>

 
</ion-app>