.go-to {
  text-align: center;
  margin-top: 20px;
  a {
    cursor: pointer;
  }
}

.slide-content {
  padding-top: 1rem;
  width: 100%;
  // height: -webkit-fill-available;
}

.slide-card {
  width: auto;
}
