ion-avatar {
  --border-radius: 0px;
  --size: 1.2rem;
  width: var(--size);
  height: var(--size);
  margin-left: 0.5rem;
}

ion-badge {
  padding: 8px;
}

.card-container {
  border-radius: 1rem;
}

.title {
  h4 {
    margin: 0px;
  }
  h5 {
    margin: 0px;
    margin-top: 0.3rem;
    margin-left: 1rem;
    font-size: 70%;
  }
}

.cart-button {
  margin: 0px;
  .button-native {
    padding: 0px;
    width: auto;
  }
}

.cart-badge {
  margin-left: 0px;
}


.card-side {
  box-shadow: inset 0px 0px 4px 0px #00000029;
  border-radius: 1rem;
  text-align: center;
  //   vertical-align:
  background: #afd1a98a;
  --padding: 0.35rem;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

ion-card-header {
  padding: 0px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 2rem;

  .card-content {
    float: left;
  }
}

.cart-chip {
  padding: 5px;
  margin: 0px;
  --size: 1.5rem;
  height: var(--size);
  width: var(--size);

  ion-icon {
    padding: 0px;
    margin: 0px;
  }
}
.cart-chip-counter {
  margin-top: 0.2rem;
  padding: 0.4rem;

  --background: transparent;
}
