<ion-card [ngClass]="{'card-container': auth.isUserAuthenticated}" class="card-container2" *ngIf="item">
  <div class="card-content">
    <ion-card-header>
      <ion-item [lines]="item.db.description ? null : 'none'">
        <ion-card-title class="title">
          <h4>
            {{item.db.name}}
          </h4>
        </ion-card-title>
        <ion-avatar *ngIf="item.db.isSpicy">
          <img [src]="spicyImg" />
        </ion-avatar>
        <ion-avatar *ngIf="item.db.isVegetarian">
          <img [src]="vegetarianImg" />
        </ion-avatar>
        <ion-badge slot="end" color="light">{{item.db.price}},-</ion-badge>
      </ion-item>

    </ion-card-header>
    <ion-card-content *ngIf="item.db.description">
      <ion-label>{{item.db.description}}</ion-label>
    </ion-card-content>

  </div>
  <div class="card-side" *ngIf="auth.isUserAuthenticated" >
    <div class="card-side-content">

      <ion-chip class="cart-chip" (click)="cart.addToCart(item.db.id)">
        <ion-icon name="add"></ion-icon>
      </ion-chip>
      <ion-badge [hidden]="!item.cart" color="secondary" class="cart-chip-counter" mode="ios">{{item.cart}}</ion-badge>

      <ion-chip [hidden]="!item.cart" class="cart-chip" (click)="cart.removeFromCart(item.db.id)">
        <ion-icon name="remove"></ion-icon>
      </ion-chip>

    </div>

  </div>

</ion-card>